/*!
 *
 * Style for albums list.
 */

table tr td a {
    display: block;
    height: 100%;
    width: 100%;
}

.album-edit, .album-delete {
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.album-edit:hover, .album-delete:hover {
    background: #333333;
}

.alert-box {
    top: 0;
    position: fixed;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
    z-index: 9999999;
}

.alert {
    text-align: center;
    margin-bottom: 0;
}

#wait-dialog {
    height: 50px;
    width: 50px;
    background: #000000 url('/resources/img/fancybox_loading.gif') center center no-repeat;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

.description {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#edit-dialog {
    width: 575px;
}

.error-field {
    border-color: #E9322D;
    box-shadow: 0 0 6px #F8B9B7;
}

.no-description {
    color: #b3b3b3;
}