/*Create thumbnails from images.*/
.thumbnails-holder {
    display: block;
    margin: 0;
    text-align: center;
}

.thumb-wrapper {
    display: inline-block;
    width: 250px;
    height: 250px;
    overflow: hidden;
    position: relative;
    margin: 0 auto 0 4px;
    background: url("http://placehold.it/250&text=Loading...");
}

.thumb-wrapper .img {
    display: block;
    position: absolute;
    width: 350px;
    height: 250px;
    left: 50%;
    margin-left: -175px;
}

.thumb-wrapper .img img {
    width: auto !important;
    max-width: 350px !important;
    min-width: 250px !important;
    height: 250px !important;
    margin: 0 auto;
    display: block;
}